
.cafeCell {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.cafeCell::after {
    display: block;
    content: "";
    width: 125px;
  }

figure {
    margin: 0;
}

.photo {
    width: 125px;
    height: 125px;
}


.fig
/* トリミングしてくれる */
img{
    object-fit: cover;
}


